:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #d7bcac;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    user-select: none;
    box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 2.2em;
    line-height: 1.1;
}


#app {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
}


.board {
    margin-top: 1em;
    display: grid;
    gap: 1vw;
    grid-gap: 1vw;
}


.card {
    display: inline-block;
    width: 12vh;
    height: 20vh;
    border-radius: 1vw;
    padding: 0;
    overflow: clip;
    border: 0.2em solid white;
    box-shadow: 0.1em 0.1em 0.21em rgba(0, 0, 0, 0.3);
}


.button {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid cornflowerblue;
    border-radius: 1em;
    margin: 1em;
    padding: 1em 2em;
    background-color: white;
    color: cornflowerblue;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .board {
        margin-top: 1em;
        display: grid;
        grid-gap: 2vw;
        padding: 0;
    }

    .card {
        display: inline-block;
        border-radius: 2vw;
        width: 22vw;
        height: 36.66vw;
    }

    .button {
        font-size: 1em;
    }
}
